.vision-began-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 8vw 0 8vw;
  background-color: #224048;
}

.vb-header {
  grid-column: 1 / 3;
  padding: 10vh 0 5vh 0;
}

.vb-text-content {
  color: #E8C8CB;
  font-weight: 300;
  font-size: 1.125;
  line-height: 200%;
  text-align: justify;
  margin-top: 6vh;
}

.vb-image img {
  width: 33vw;
  margin-left: 12vw;
}

.vb-button {
  grid-column: 1 / 3;
  padding: 0 0 10vh 35vw;
}

.vb-section-break-line {
  grid-column: 1 / 3;
  padding: 0 0 10vh 23vw;
}