.footer {
  width: 33vw;
  justify-content: center;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 0 34.5vw;
}
.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1 / 3;
}

.footer-logo img {
  width: 12.5rem;
  transition: 300ms ease-out;
}

.footer-logo img:hover {
  transform: scale(1.1);
  transition: 300ms ease-in;
}


.footer-links li {
  list-style: none;
  color: #34616D;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  transition: 300ms ease-out;
}

.footer-links li:hover {
  transform: scale(1.1);
  transition: 300ms ease-in;
  color: #78979F;
}

.footer-copyright {
  grid-column: 1 / 3;
  color: #34616D;
  text-align: center;
}