.portfolio-page-container {
  width: 100vw;
  background-color: #224048;
  margin-left: -1vw;
}

.vr-header {
  padding-top: 5vh;
}

.dev-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 5vw 0 5vw;
}

.description-title {
  color: #78979F;
  font-weight: 300;
  font-size: 3.5vw;
  padding-bottom: 1vw;
}

.description {
  text-align: center;
  color: #78979F;
  font-weight: 300;
  font-size: 2.3vw;
}

.port-cards {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 31vw 31vw 31vw;
  padding-right: 8vw;
  overflow: hidden;
  padding-bottom: 15vw;
}

.design-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw 0 5vw;
}

