body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.landing-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #224048;
  
}

.bg-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-image-container img {
  width: 100%;
  height: 100%;
  padding-top: 100%;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-left: .5rem;
  z-index: 10;
}

.social-container img {
  width: 90%;
}

 .social-container a{
  cursor: pointer;
  transition: 300ms ease-out;
}

.social-container a:hover {
  transition: 300ms ease-in;
  transform: scale(1.2);
}

.logo-container {
  width: 80%;
  padding-top: .1rem;
}

.top-text {
  color: #E8C8CB;
  font-weight: 300;
  font-size: 22px;
  margin-top: 44%;
  margin-left: 22%;
}

.logo-container img{
  position: absolute;
  width: 91%;
  height: auto;
  top: 0;
  left: 0;
  margin-left: 8%;
  margin-top: 10%;
}

.tagline-container {
  width: 90%;
}

.tagline {
  color: #E8C8CB;
  font-weight: 300;
  font-size: 18.8px;
  margin-top: 30%;
  margin-left: 19%;
}

.tagline span {
  color: #632D47;
  font-weight: 900;
  font-size: 24px;
}

.button-container {
  width: 30%;
  margin-top: 3rem;
  margin-left: 8.5rem;
}

.button-container button {
  background-color: #632D47;
  color: #E8C8CB;
  border: none;
  padding: .6rem;
  font-weight: 300;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms ease-out;
  position: absolute;
  z-index: 10;
}

.button-container button:hover {
  transition: 300ms ease-in;
  transform: scale(1.2);
} 

.cat-mom img {
  position: absolute;
  width: 80%;
  bottom: 16.6%;
  right: 38.1%;
}

.cat-mom p {
  color: #34616D;
  margin-top: 38%;
  margin-left: 23%;
  font-size: .8rem;
}